[submodule "3rdParty/lib_A"]
	path = 3rdParty/lib_A
	url = https://github.com/dep-hell/lib_A
	branch = master-yoda
[submodule "3rdParty/lib_B"]
	path = 3rdParty/lib_B
	url = https://github.com/dep-hell/lib_B
	branch = master-yoda
